* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.nav-container {
  align-items: center;
  background-color: #7f8c8d;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  
}

.logo-image {
  display: block;
  height: 60px;
  width: 150px;
}

.articles-cont {
  width: 100px;
  display: flex;
  flex-direction: column;
}

.articles-image {
  display: block;
  height: 25px;
  width: 25px;
  margin: auto;
}

.articles-text {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 25px;
}
.topics {
  border: 1px solid #ffffff;
  background-color: #636e72;
  padding: 5px 45px;
  border-radius: 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.wrapper-content {
  color: #ffffff;
}
.box-1,
.box-2,
.box-3,
.box-4 {
  width: 50%;
  height: 700px;
}
.box-1,
.box-3,
.box-4 {
  background-color: #797878;
  padding: 14% 0 0 40px;
}
.box-2 {
  background-color: #43434b;
  padding: 50px 0 0 40px;
}
.box-3 {
  background-color: #64686b;
}
.box-4 {
  background-color: #5f6164;
}
.box-text-1,
.inner-box-text2 {
  font-size: 2.2rem;
  line-height: 1.6;
  font-family: 'Baloo Chettan 2', cursive;
}
.box-text-2 {
  padding-top: 21%;
}
.box-header {
  font-size: 2rem;
}
.float {
  position: absolute;
  top: 170px;
  left: 35%;
}
.float-content {
  background-color: #fefefe;
  padding: 15px;
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive;
}
.left-wrapper-content {
  float: right;
  border: 1px solid #fefefe;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  font-size: 1.7rem;
  margin-right: 15px;
}
.box-icon {
  font-size: 3.5rem;
  padding-top: 250px;
}
